.topo, row {
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

#primeira-foto{
    padding-top: 35px;
    margin-top: 35px;
}
#logo-instagram{
    text-decoration: none;
    color: black;
}

#imagem-nome-instagram{
    width: 140px;
}
header {
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #fff;
    position: fixed;
    padding-top: 10px;
}

.fed {
    
    width: 50%;
    margin-left: auto;
    margin-right: auto 

}

.perfil-foto {
    max-width: 70px;
    max-height: 50px;
    border-radius: 50%;
    align-items: end;
}

.nome-user {
    align-items: center;
    margin-top: 2px;
    margin-bottom: 0px;
    
}

.cidade{
    font-size: 15px;
}
.tres-bolinhas {
    text-align: center;
}

.foto-fed {
    
    width: 50%;
    margin-left: auto;
    margin-right: auto 

 
}

#video{
    transform: scaleX(-1);
    width: 100%;
    
}

